@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffcd00;
  --grayC: #00000099;
  --animation-primary: 0.6s cubic-bezier(0.2, 1.33, 0.25, 1);
  --animation-primary-ease-in: 0.6s cubic-bezier(0.25, 1, 0.1, 1);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.scrolled .menu-open-wrapper {
  pointer-events: all;
}
.menu-open {
  transform: scale(0);
  transition:
    transform var(--animation-primary),
    background-color var(--animation-primary);
  .arr-svg {
    transition: transform var(--animation-primary);
    transform: translateX(0%) rotate(0.001deg);
  }
}
.scrolled .menu-open {
  transform: scale(1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Urbanist, sans-serif;
}

.left-border {
  width: 1.25rem;
  height: 100%;
  background-color: var(--primary);
  position: absolute;
  left: 4.75rem;
  top: 0;
  transform-origin: top;
  transform: scaleY(0);
  @apply left-[1.75rem] w-[.75rem] md:left-[4.75rem] md:w-[1.25rem];
}

h1,
h2,
h3,
h4,
p,
blockquote,
span {
  font-kerning: none;
  text-rendering: optimizeSpeed;
}
.hide-first {
  opacity: 0;
}
.hide-first:has(> .char) {
  opacity: 1;
}
.char {
  opacity: 0;
}
blockquote {
  font-size: 1rem;
  padding: 0.625rem 0 0.625rem 1rem;
  border-left: 3px solid var(--grayC);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.menu-screen-wrapper {
  pointer-events: none;

  .menu-screen {
    transition: transform var(--animation-primary-ease-in);
    transform: translateX(100%) rotate(0.001deg);
  }
  .overlay {
    transition:
      opacity var(--animation-primary),
      backdrop-filter var(--animation-primary);
    opacity: 0;
    /* visibility: hidden; */
    backdrop-filter: blur(0px);
  }
}

[data-navigation-status="hover"] {
  .menu-screen {
    transform: translateX(calc(100% - 1.5vw)) rotate(0.001deg);
  }
}
[data-navigation-status="active"] .menu-screen {
  transform: translateX(0%) rotate(0.001deg);
}

[data-navigation-status="active"] {
  .menu-screen-wrapper {
    pointer-events: all;
    .overlay {
      opacity: 1;
      /* visibility: visible; */
      backdrop-filter: blur(5px);
    }
  }
}

.link-click {
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  padding: 0.5rem 0;
  margin: -0.5rem 0;
  /* items-end gap-8 leading-[100%] */
  display: flex;
  align-items: center;
  justify-content: start;
  /* gap: 1rem; */
  position: relative;
  /* font-weight: 700;
  line-height: 100%; */
  transition: background-color var(--animation-primary-ease-in);
  .link-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.25em;
    gap: 2rem;
    font-weight: 700;
    line-height: 100%;
    transition: transform var(--animation-primary);
    &.duplicate {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      /* width: 100%; */
      transform: translate(-5%, 130%) scale(0.95) rotate(0.001deg);
      transition: transform var(--animation-primary);
    }
  }
}

:root {
  --vh: 1vh;
}

@supports (height: 1svh) {
  :root {
    --vh: 1svh;
  }
}
@media (hover: hover) {
  .menu-open:hover {
    background-color: #273f2b;
  }
  .menu-open:hover .arr-svg {
    transform: translateX(-150%) rotate(0.001deg);
  }

  .link-click:hover {
    .link-content {
      transform: translate(5%, -130%) scale(1.05) rotate(0.001deg);
      &.duplicate {
        transform: translate(0%, 0%) scale(1) rotate(0.001deg);
      }
    }
  }
}
