@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffcd00;
  --grayC: #00000099;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.scrolled .menu-open-wrapper {
  pointer-events: all;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Urbanist, sans-serif;
}

.left-border {
  width: 1.25rem;
  height: 100%;
  background-color: var(--primary);
  position: absolute;
  left: 4.75rem;
  top: 0;
  transform-origin: top;
  transform: scaleY(0);
  @apply left-[1.75rem] w-[.75rem] md:left-[4.75rem] md:w-[1.25rem];
}

h1,
h2,
p,
blockquote,
span {
  font-kerning: none;
  text-rendering: optimizeSpeed;
}
.hide-first {
  opacity: 0;
}
.hide-first:has(> .char) {
  opacity: 1;
}
.char {
  opacity: 0;
}
blockquote {
  font-size: 1rem;
  padding: 0.625rem 0 0.625rem 1rem;
  border-left: 3px solid var(--grayC);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
